<!doctype html>
<html ng-app="rtApp" ng-controller="TemplateController as tp">
  <head>
    <!-- Set page title -->
    <title ng-bind="titleService.title">Ancestry Test</title>

    <!-- Set character set -->
    <meta charset="utf-8">

    <!-- Link 3rd-party CSS -->
    <link href="/styles/dep/vis" rel="stylesheet" type="text/css" />
    <link href="/styles/dep/bootstrap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- Link site css -->
    <link href="/styles/site.css" rel="stylesheet" type="text/css" />

    <!-- Link 3rd-party scripts -->
    <script src="/scripts/dep/jquery"></script>
    <script src="/scripts/dep/popper"></script>
    <script src="/scripts/dep/angular"></script>
    <script src="/scripts/dep/angular-route"></script>
    <script src="/scripts/dep/bootstrap"></script>
    <script src="/scripts/dep/vis"></script>

    <!-- Link AngularJS app -->
    <script src="/scripts/app.js"></script>

    <!-- Link AngularJS Factories and Services -->
    <script src="/scripts/expressFactory.js"></script>
    <script src="/scripts/loginFactory.js"></script>
    <script src="/scripts/titleService.js"></script>

    <!-- Link AngularJS controllers -->
    <script src="/scripts/templateController.js"></script>
    <script src='/scripts/graphController.js'></script>
    <script src='/scripts/newGraphController.js'></script>
    <script src='/scripts/accountController.js'></script>
    <script src='/scripts/loginController.js'></script>
    <script src='/scripts/homeController.js'></script>

    <!-- Link AngularJS routes -->
    <script src='/scripts/routes.js'></script>

    <!-- Set base URL for AngularJS route html5 mode -->
    <base href="/">
  </head>
  <body>
    <div class="controller-div">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">RelationshipTree™</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li ng-if="loginObject.loggedIn" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Graphs
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a ng-repeat="graph in loginObject.graphs" class="dropdown-item" href="/graph/{{loginObject.username}}/{{graph.id}}">{{graph.name}}</a>
                  <a class="dropdown-item text-success" href="/new">Add New Graph</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/account" ng-if="loginObject.loggedIn">My Profile</a>
                  <a class="dropdown-item" href="#" ng-if="!loginObject.loggedIn" data-toggle="modal" data-target="#loginModal" ng-click="fillLogin()">Login</a>
                  <a class="dropdown-item" href="#" ng-if="!loginObject.loggedIn" data-toggle="modal" data-target="#loginModal" ng-click="fillRegister()">Register</a>
                  <a class="dropdown-item text-danger" ng-if="loginObject.loggedIn" ng-click="loginObject.logout()" href="#">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="main-content" ng-view></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content modal-corners"  ng-if="!register"><div ng-include="'/views/login.html'" ng-controller="LoginController as lc" rt-init="insideModal=()"></div></div>
        <div class="modal-content modal-corners"  ng-if="register"><div ng-include="'/views/register.html'" ng-controller="LoginController as rc" rt-init="insideModal=()"></div></div>
      </div>
    </div>
  </div>
  </body>
</html>
