.footer {
  border-top: 1px solid lightgrey;
  padding: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.search-bar {
  right: 0;
  position: absolute;
  margin-top: 0;
}

.main-content {
  width: 95vw;
  position: relative;
}
.sub-filter{
  min-width: 100%;
  min-height: 100%;
  padding-left: 5%;
  display: block;
}
.filter-form-item {
  padding-top: 1px;
}

#graph {
  float: left;
  width: 65vw;
}

#graph-filter {
  margin-left: 10px;
  float: left;
  width: 30vw;
}

#node-filter {
  float: left;
  width: 10vw;
}

#edge-filter {
  float: left;
  width: 10vw;
}

.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.in.width {
  width: auto;
}

.collapse.in.height {
  height: auto;
}
