.footer {
  border-top: 1px solid lightgrey;
  padding: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin: auto;
}

a {
  color: black;
}

.login-form {
  right: 10px;
  position: absolute;
  margin-top: 0;
}

.red-text {
  color: red;
  padding-right: 5px;
}

.registration-label {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  white-space: pre;
}

.main-content {
  width: 100vw;
  position: relative;
}

.sub-filter{
  min-width: 100%;
  min-height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: block;
}

.filter-button {
  border-radius: 0;
  width: 100%;
  background-color: white;
  color: #444444;
  border: 1px solid #444444;
}

.filter-button.active {
  background-color: #444444 !important;
  color: #dddddd !important;
  border: 1px solid black !important;
}

.filter-button.active:hover {
  background-color: #333333 !important;
  color: default !important;
}

.top-bar {
  box-shadow: 0 1px 2px;
}

.collapse-title {
  color: #333;
  font-weight: bold;
}

.card {
  border-radius: 0;
}

#top-card {
  border-radius: 4px 0 0 0;
}

#bottom-card {
  border-radius: 0 0 0 4px;
}

.relationship-name {
  width: 100%;
}

.relationship-name.negated {
  color: lightgrey;
  text-decoration: line-through;
}

.relationship-name.unchosen {
  color: grey;
}

.badge.negated {
  background-color: lightgrey;
}

.relationship-count {
  font-size: .65em;
}

#graph-filter {
  margin-left: 10px;
  float: left;
  width: 30vw;
}

#node-filter {
  float: left;
  width: 10vw;
}

#edge-filter {
  float: left;
  width: 10vw;
}

.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.in.width {
  width: auto;
}

.collapse.in.height {
  height: auto;
}

/* from https://www.w3schools.com/howto/howto_css_signup_form.asp */
.reg-sizing {box-sizing: border-box}

/* Full-width input fields */
  input[type=text].reg-sizing, input[type=password].reg-sizing {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text].reg-sizing:focus, input[type=password].reg-sizing:focus {
  background-color: #ddd;
  outline: none;
}

hr.reg-sizing {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button.reg-sizing {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button.reg-sizing:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn.reg-sizing {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn.reg-sizing, .signupbtn.reg-sizing {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container.reg-sizing {
  padding: 16px;
}

/* Clear floats */
.clearfix.reg-sizing::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn.reg-sizing, .signupbtn.reg-sizing {
    width: 100%;
  }
}
