<div class="container">
  <div id="Welcome" class="text-center">
    <h1> Welcome to RelationshipTree!™ </h1>
    <p> To get started, first login or create an account.
      From there, click on the 'Graphs' option in the upper right corner.
      Then select 'add new graph'.
      On this page, you are given the option to give your graph a name.
      You will then be taken to your graph's newly created page!
      On the right side of the screen, you will see a menu button. Click on this button.
      In this menu, there will be an option to create nodes and relationships.
      When you add a node, it will apear on the graph.
      When you have 2 or more nodes, you can then add a relationship from the 2 nodes in the 'Add Relationship' tab.
      You can edit a node or relationship by clicking on it in the graph and selection the tab 'Edit Selected'.
      This menu will change based on what is selected.
      <br /> <br />
    </p>
  </div>
</div>
