<div class = "reg-sizing">
  <!-- mod from https://www.w3schools.com/howto/howto_css_signup_form.asp-->
  <form name="loginForm">
    <div class="container reg-sizing">
      <button ng-if="insideModal" type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>Login</h1>
      <hr>

      <label class="reg-sizing" for="username"><b>Username</b></label>
      <input class="reg-sizing" type="text" placeholder="Username" name="username" ng-model="username" required>

      <label class="reg-sizing" for="psw"><b>Password</b></label>
      <input class="reg-sizing" type="password" placeholder="Password" ng-model="password" name="psw" required>

      <label>
        <input class="reg-sizing" type="checkbox" checked="checked" ng-model="remember" name="remember" style="margin-bottom:15px"> Keep me logged in
      </label>
      <label class="reg-sizing text-danger" ng-if="hasLoginError" ng-bind="loginErrorMessage"></label><br/>

      <div class="clearfix reg-sizing">
        <button type="submit" class="signupbtn reg-sizing" ng-click="loginForm.$valid && login(username,password,remember)">Log In</button>
        <button type="button" class="cancelbtn reg-sizing" data-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
      <a href="/#" class="reg-sizing text-secondary" ng-click="fillRegister()">Need an account? Click here to Register!</a>
    </div>
  </form>
</div>
