<div id="privacy">
  <h3>Graph data</h3>
  <p>All data entered into a RelationshipTree&trade; graph is considered public and can be viewed by anyone who accesses RelationshipTree&trade;.</p>

  <h3>User data</h3>
  <p>Usernames and Display Names are publicly displayed on your RelationshipTree&trade; profile page. Your display name is not required to be related to your real, legal name, and is only meant allow you to identify your account to other users. Passwords are encrypted and stored privately. RelationshipTree&trade; will not sell any of your information.</p>

  <h3>Local storage</h3>
  <p>RelationshipTree&trade; uses HTML5 localStorage and sessionStorage to persist user sessions. By continuing to access this site, you agree to the use of localStorage and sessionStorage. You can learn more about HTML5 localStorage and sessionStorage <a class="consent-link" href="https://www.quora.com/What-is-the-use-of-localStorage-in-HTML">here</a>.</p>
</div>
