<!doctype html>
<html ng-app="rtApp">
  <head>
    <title>Ancestry Test</title>
    <link href="/node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="/styles/site.css" rel="stylesheet" type="text/css" />
    <link href="/styles/graph.css" rel="stylesheet" type="text/css" />

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/vis/dist/vis.min.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/navBarController.js"></script>
    <script src='/scripts/graphController.js'></script>
  </head>
  <body>
    <div class="controller-div" ng-controller="NavBarController as components">
    <header>
    <nav class="navbar navbar-dark fixed-top bg-dark top-bar">
      <a class="navbar-brand" href="/#">Relationship Tree</a>
        <form class="form-inline mt-2 mt-md-0 login-form">
          <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </nav>
  </header>
      <div class="main-content">
        <div id="graph-controller-scope" ng-controller="GraphController as graph">
          <div id="graph-filter">

            <div id="accordion">

              <div class="card" id="top-card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapse-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Hide/Show Relationships
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="sub-filter" id="edge-filter">
                      <input id="filter-search" class="form-control" ng-model="relSearch" placeholder="Filter"/><br />
                      <div class="btn-group-toggle" data-toggle="buttons">
                        <div class="pre-scrollable">
                            <a data-ng-repeat="relationship in filterRelationships | filter: relSearch" on-finish-render="finished" href="javascript://void()" ng-click='hideType(relationship)' class="list-group-item" data-toggle="tooltip">
                                <h4 ng-if="!getFirstEdgeWithLabel(relationship).hidden" class="relationship-name">{{relationship}}<span class="badge badge-dark relationship-count float-right">{{getNumberOfEdgesWithLabel(relationship)}}</span></h4>
                                <h4 ng-if="getFirstEdgeWithLabel(relationship).hidden" class="relationship-name negated">{{relationship}}<span class="badge badge-secondary negated relationship-count float-right">{{getNumberOfEdgesWithLabel(relationship)}}</span></h4>
                                <input id="checkbox{{relationship}}" type="checkbox" style="display:none" ng-checked="getFirstEdgeWithLabel(relationship).hidden">
                            </a>
                            <br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapse-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Jump To
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <div class="sub-filter" id="edge-filter">
                      <input id="node-search" class="form-control" ng-model="nodeSearch" placeholder="Filter"/><br />
                      <div class="btn-group-toggle" data-toggle="buttons">
                        <div class="pre-scrollable">
                            <a data-ng-repeat="node in allNodes | filter: nodeSearch" on-finish-render="finished" href="javascript://void()" ng-click='moveTo(node.id)' class="list-group-item" data-toggle="tooltip">
                                <h4 ng-if="node.id == homeId" class="relationship-name">{{node.name}}<span class="badge badge-dark relationship-count float-right">{{node.rels}}</span></h4>
                                <h4 ng-if="node.id != homeId" class="relationship-name unchosen">{{node.name}}<span class="badge badge-secondary relationship-count float-right">{{node.rels}}</span></h4>
                                <input id="checkbox{{relationship}}" type="checkbox" style="display:none" ng-checked="getFirstEdgeWithLabel(relationship).hidden">
                            </a>
                            <br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapse-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Create Node
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      <form class="form-horizontal" action="/action_page.php">
                        <div class="form-group">
                          <div class="col-sm-10">
                            <label class="col-xs-3 control-label">Node Type:</label>
                              <div class="col-xs-5 selectContainer">
                                  <select class="form-control" id="nodeType" ng-model="newNodeType">
                                      <option value="" ng-model="newNodeType">Choose a Type</option>
                                      <option value="Person" ng-model="newNodeType">Person</option>
                                      <option value="Document" ng-model="newNodeType">Document</option>
                                      <option value="Tribe" ng-model="newNodeType">Tribe</option>
                                  </select>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-6" for="pwd">Name:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="pwd" ng-model="newNodeName" placeholder="Enter Node Name">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" ng-click="createNode(newNodeName,newNodeType)" class="btn btn-outline-success">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card" id="bottom-card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapse-title collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Graph Options
                      </button>
                    </h5>
                  </div>

                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                      <div class="filter-form-item"><button ng-click="jiggleToggle()">Toggle Physics</button></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          <div id="graph"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
